 <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="post-sidebar-area">

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>About Me</h6>
                            </div>
                            <!-- Thumbnail -->
                            <div class="about-thumbnail">
                                <%= image_tag  "about-me.jpg" %>
                             
                            </div>
                            <!-- Content -->
                            <div class="widget-content text-center">
                                <%= image_tag  "signature.png" %>
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>Subscribe &amp; Follow</h6>
                            </div>
                            <!-- Widget Social Info -->
                            <div class="widget-social-info text-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
<<<<<<< HEAD
                                <h6>Latest Posts</h6>
                            </div>

                            <!-- Single Latest Posts -->
                           <%= render  "shared/content-short" %>
                           <%= render  "shared/content-short" %>
                           <%= render  "shared/content-short" %>
                           <%= render  "shared/content-short" %>
=======
                                <h6>most active users</h6>
                            </div>

                            <!-- Single Latest Posts -->

                           <%= render  "shared/content-short" %>
                          
>>>>>>> 22ae0aaed3cc7406d89b6a8f93fed72d1d80b8b8

                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Adds -->
                            <a href="#"><%= image_tag  "add.png" %></a>
                        </div>
                        

                    </div>
                </div>