 <div class="col-12">
                    <div class="featured-post-area">
                        <div id="featured-post-slides" class="carousel slide d-flex flex-wrap" data-ride="carousel">

                            <div class="carousel-inner">

                                <div class="carousel-item active bg-img" style="background-image: url(<%= asset_path "7.jpg" %>)">
                                    <!-- Featured Post Content -->
                                    <div class="featured-post-content">
                                        <p>MAY 8, 2018 / foody</p>
                                        <a href="#" class="post-title">
                                            <h2>A Closer Look At Our Front Porch Items From Lowe’s</h2>
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item bg-img" style="background-image: url(<%= asset_path "6.jpg" %>)">
                                    <!-- Featured Post Content -->
                                    <div class="featured-post-content">
                                        <p>MAY 8, 2018 / foody</p>
                                        <a href="#" class="post-title">
                                            <h2>12 Beautiful Vegan Panna Cottas</h2>
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item bg-img" style="background-image: url(<%= asset_path "2.jpg" %>)">
                                    <!-- Featured Post Content -->
                                    <div class="featured-post-content">
                                        <p>MAY 8, 2018 / foody</p>
                                        <a href="#" class="post-title">
                                            <h2>Quick Vegan Enchiladas with Sweet Potato Sauce</h2>
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item bg-img" style="background-image: url(<%= asset_path "3.jpg" %>)">
                                    <!-- Featured Post Content -->
                                    <div class="featured-post-content">
                                        <p>MAY 8, 2018 / foody</p>
                                        <a href="#" class="post-title">
                                            <h2>Instant Pot Mushroom Stroganoff with Vodka</h2>
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item bg-img" style="background-image: url(<%= asset_path "5.jpg" %>)">
                                    <!-- Featured Post Content -->
                                    <div class="featured-post-content">
                                        <p>MAY 8, 2018 / foody</p>
                                        <a href="#" class="post-title">
                                            <h2>The Most Popular Recipe Last Month</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <ol class="carousel-indicators">
                                <li data-target="#featured-post-slides" data-slide-to="0" class="active">
                                    <h2>01</h2>
                                    <a href="#" class="post-title">
                                        <h5>A Closer Look At Our Front Porch Items From Lowe’s</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="1">
                                    <h2>02</h2>
                                    <a href="#" class="post-title">
                                        <h5>12 Beautiful Vegan Panna Cottas</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="2">
                                    <h2>03</h2>
                                    <a href="#" class="post-title">
                                        <h5>Quick Vegan Enchiladas with Sweet Potato Sauce</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="3">
                                    <h2>04</h2>
                                    <a href="#" class="post-title">
                                        <h5>Instant Pot Mushroom Stroganoff with Vodka</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="4">
                                    <h2>05</h2>
                                    <a href="#" class="post-title">
                                        <h5>The Most Popular Recipe Last Month</h5>
                                    </a>
                                </li>
                            </ol>

                        </div>
                    </div>
                </div>