<div class="container single-post-details-area form-add-book">
    <h3 style="text-align: center;">Create Book</h3>

    <%= form_for @book do |f| %> 
      <div class="form-group">
        <%= f.label :book_name %> 
        <%= f.text_field :book_name, class: "form-control",placeholder: "Enter Book Name",required: 'true' %> 
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <%= f.label :author  %> 
      <%= f.text_field :author, class:"form-control",id:"exampleInputPassword1",placeholder:"Enter Author Name",required: 'true'%> 
    </div>
    <div class="form-group">
      <%= f.label :Categories %> 
      <%= f.select :category_id, Category.pluck(:category_name, :id),{},{required: 'true', autofocus: 'true', class: 'form-control'} %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Publish Date</label>
    <%= f.date_field :publish_date, as: :datetime_picker, class: "form-control",id:"datepicker",required: 'true'%> 
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
     <%= f.cktext_area :description, rows: 10 , class: "form-control ckeditor", id: "editor", required: 'true'%>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Cover Image </label>
    <%= f.file_field :image_url, accept: "image/jpeg,image/gif,image/png" , required: 'true'%>
  </div>
  
   <%= f.submit @name_button, class:"btn btn-success form-control"%>
    <% end  %> 

</div>
