<!DOCTYPE html>
<html>
  <head>
    <title><%= fill_title(yield(:title))  %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag Ckeditor.cdn_url  %> 
   
  </body>
</html>
